.mainContainer {
  min-width: 700px;
  font-size: 16px;
}

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tableContainer {
  min-width: 600px;
  background-color: aqua;
  padding-left: 20px;
}
.tableContainer div {
  min-height: 20px;
}

.mainSection {
  background-color: aquamarine;
}

.itemDescription {
  font-weight: bold;
}

.dealBreaker {
  background-color: red;
}

.itemRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 20px;
  min-width: 40px;
}
.itemRow div {
  min-width: 50px;
}