.mainContainer {
  min-width: 700px;
  font-size: 16px;
} 

.tableContainer {
  min-width: 600px;
  background-color: aqua
}
.tableContainer div {
  min-height: 20px;
}

.mainSection {
  background-color: aquamarine;
}

.itemDescription {
  font-weight: bold
}

.dealBreaker {
  background-color: red
}