name: Node.js CI

on:
  push:
    branches: [ main, data ]
  pull_request:
    branches: [ main, data ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
      - uses: actions/checkout@v3
      - name: Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
        env:
          AUTHOR_CESINE: ${{ secrets.AUTHOR_CESINE }}
          AUTHOR_MATMATH: ${{ secrets.AUTHOR_MATMATH }}
      - run: npm ci
      - run: npm run build:authors
      - run: npm run build
      - run: npm test
